body{
    font-family: 'Montserrat', sans-serif;
}

#titulo{
    background-color: #765744;
    color: #FAEFDC;
 }

 h1 {
    font-family: "Knewave", system-ui;
    font-weight: 900;
    font-size: 6rem;
    line-height: 1.5;
}

h2{
    font-family: 'Montserrat';
    font-size: 3.0rem;
    font-weight: 900;
}

h3 {
    font-family: "Knewave", system-ui;
    font-size: 2.5rem;
    font-weight: bold;
}

h5 {
    font-family: "Knewave", system-ui;
    text-align: center;
    font-size: 6rem;
}
.container-fluid{
    padding: 3% 15% 7%;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.download-button {
    background-color: #587051;
    margin: 5% 3% 5% 0;
}

.title-image{
    position: absolute;
    top: -20%;
    left: -20%;
}

#menu {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}

.caja-menu{
    text-align: center;
    padding: 5%;
}

p{
    font-family: 'Montserrat';
    font-size: 1.2rem;
    font-weight: 400;
}

#carruselFotos {
    text-align: center;
    background-color: #765744;
    color: #fff;
}

.img-carrusel{
    width: 50;
    border-radius: 20%;
}

.carousel-item{
    padding: 7% 15%;
}

#recomendaciones {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}

.recomendaciones-col {
    padding: 3% 2%;
}

#pregunta{
    background-color: #765744;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}

.encabezado-pregunta{
    font-family: "Knewave", system-ui;
    font-weight: 200;
    font-size: 5rem;

}

#footer{
    padding: 7% 15%;
    text-align: center;
}

.social-icon{
    margin: 20px 10px;
}

 

@media (max-width: 1028px) {
    #titulo{
        text-align: center;
    }
    
    .title-image {
        position: static;
        transform: rotate(0);
    }
}